<!-- <p id="notice"><%= notice %></p> -->

<div class="col-lg-10">
  <div class="well">
    <h1>My Wikis</h1>
    <br>
    <table class="table table-striped table-hover">
      <tbody>
        <% Wiki.where(user: current_user).each do |wiki| %>
          <tr>
            <td class="col-md-4"><%= wiki.title %></td>
            <td class="col-md-4"><small>Author: <%= wiki.user.try(:email) %><small></td>
            <td><%= link_to 'View', wiki, :class => "btn btn-info" %></td>
            <td><%= link_to 'Edit', edit_wiki_path(wiki), :class => "btn btn-primary" %></td>
            <td><%= link_to 'Delete', wiki, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure you want to delete this Wiki?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Wiki', new_wiki_path %>
  </div>
</div>
