<!-- <p id="notice"><%= notice %></p> -->
<div class="col-lg-10 col-sm-10">
  <div class="well well-lrg" style="min-height: 400px;">
    <legend><h1><%= @wiki.title %></h1></legend>
    <p class="text-muted"><small>This is a wiki created by <%= @wiki.user.email %></small></p>
    <br>



    <div class="col-lg-10">
      <%= markdown(@wiki.body) %>
    </div>

    <br>

    <div class="col-sm-4">
      <div style="margin: 2px;">
        <%= link_to 'Edit this wiki', edit_wiki_path(@wiki) %>
      </div>
      <div style="margin: 2px;">
        <% if current_user == @wiki.user || current_user.role == "Admin" %>
          <%= link_to "Add/Remove Collaborators", wiki_collaborators_path(@wiki) %>
        <% end %>
      </div>
    </div>

  </div>
</div>
