<!-- <div class="well", id="signup-box">
  <legend><h2>Sign in to Wikime</h2></legend>
  <form class="form-horizontal">
    <div class="col-lg-10">
    <fieldset>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
      <br>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <br>
      <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end -%>
    </div>
    <br>

    <div class="col-md-6">
      <div class="actions">
        <%= f.submit "Log in", :class => "btn btn-primary" %>
      </div>
      <% end %>
      </br>

      <%= render "devise/shared/links" %>
    </div> -->

  <div class="well", id="signup-box">
    <legend><h2>Log in to Wikime</h2></legend>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
      <br>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <br>
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
      <br>
      <div class="actions">
        <%= f.submit "Log in", :class => "btn btn-primary" %>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
  </div>
